.post-item {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background: transparent;
    border-radius: 12px;
    cursor: pointer;
    border: 2px dashed #2d3748;
    transition: all 0.3s ease;
}

.post-item:hover {
    transform: translateY(-6px);
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #2d3748
}

.post-meta {
    font-size: 0.9rem;
    color: #2d3748;
    margin-bottom: 1rem
}

.post-content {
    line-height: 1.8 color: #2d3748;
    border-bottom: 2px solid #2d3748;
}

.back-btn {
    position: fixed;
    top: 9vh;
    display: none;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    background: transparent;
    color: #2d3748;
    cursor: pointer;
    border: none;
    text-decoration: underline solid #2d3748;
}

.loading {
    padding: 0.5rem;
    color: #2d3748
}